
.header-wrapper{
    padding: 10px 0px;
    background-color: white;
    position: fixed;
    top : 0;
    z-index: 2;
    width: 100%;
}

.chats-body{
    padding:0px;
    padding-top: 100px;
}

.chats-body .header,
.chats-body .status-bar{
    padding: 0px 20px;
}

.chats-body{
    background-image: url(../images/chatBg.png);
    min-height: 1000vh;
}

.chat__write--container{
    position: fixed;
    bottom:0px;
    display:flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
   /* box-shadow: 0px 7px 20px rgba(0,0,0,0.2);
*/
}
.chat__icon-left{
    position: absolute;
}
.chat__icon-right{
    position: absolute;
    right:10px;
}

.chat__write:focus~.chat__icon{
    opacity:0;
}
.chat__icon{
    font-size : 14px;
    transition: opacity 0.5s ease-in-out;
}

@keyframes float{
    0%{
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    }
    50%
    {
        box-shadow: 0 30px 60px -60x rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025)

    }
    100%
    {
        box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
        0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);

    }
}

.chat__write{
    bottom:0px;
    margin: 0 auto;
    width:100%;
    border-radius: 20px;
    padding: 10px 30px;
    width: 100%;
    border: none;
    transition: all 0.5s ease-in;
}

.chat__write:focus{
    outline:none;
    width: 80%;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    animation: float 3s ease-in-out infinite forwards;

    transform: translateY(-100px);
}

.chat__write i{
    font-size: 22px;
}

.chat__write-column:nth-child(2){
    width : 80%;
}
.chat__write-column input{
    padding : 10px;
    width : 100%;
    border: none;
    font-size: 14px;
}



.chat-screen .chat__messages{
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp{
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    text-transform: uppercase;
    font-weight: 700;

}

.message{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;

}

.message .message__content{
    width: 80%;
}

@keyframes spin{
    from{

        transform: none;
    }
    to {
        transform : rotateY(1turn);
    }
}

.incoming-message img{
    width: 30px;
    border-radius: 50%;
    margin-right: 20px;
    animation:spin 1s linear infinite;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.incoming-message{
    align-self: flex-start;
    
}

.sent-message{
    align-self: flex-end;
}

.message .message__bubble{
    background-color: white;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    padding: 10px 20px;
    border-radius: 40px;
}

.incoming-message .message__author{
    margin-top: 20px;
    display: block;
    font-weight: 600;
    font-size: 12px;

}

.incoming-message .message__bubble{
    border-bottom-left-radius: 0px ;
    background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.sent-message .message__bubble{
    border-bottom-right-radius: 0px ;
}

@keyframes incomingAnim{
    from
    {
        opacity: 0;
        transform: translateX(-200px);
    }
    to
    {
        opacity: 1;
        transform: none;

    }
}
.incoming-message{
    animation: incomingAnim 0.5s ease-out forwards;
}
@keyframes sentAnim{
    from
    {
        opacity: 0;
        transform: translateX(+200px);
    }
    to
    {
        opacity: 1;
        transform: none;

    }
}

.sent-message{
    animation: sentAnim 0.5s ease-out forwards;
}